@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  transition-property: color, background-color, border-color, box-shadow, opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
